<%- include('partials/header') %>
        <h1>Latest Health Articles</h1>
        
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/blog1.jpg" class="card-img-top" alt="Blog Post 1">
                    <div class="card-body">
                        <h5 class="card-title">Understanding Your Blood Test Results</h5>
                        <p class="card-text">Learn how to interpret common blood test results and what they mean for your health.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/blog2.jpg" class="card-img-top" alt="Blog Post 2">
                    <div class="card-body">
                        <h5 class="card-title">The Importance of Regular Health Checkups</h5>
                        <p class="card-text">Discover why regular health screenings are crucial for early detection of potential health issues.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/blog3.jpg" class="card-img-top" alt="Blog Post 3">
                    <div class="card-body">
                        <h5 class="card-title">Managing Diabetes Through Testing</h5>
                        <p class="card-text">Find out how regular blood glucose monitoring can help in diabetes management.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
<%- include('partials/footer') %>